
p{
    color: dodgerblue;
}
label{
    display: block;
    margin: 10px;
}
.fiel{
    display: block;
}

table{
    border-collapse: collapse;
    
}
td, th{
    border: 1px solid black;
    padding: 5px;
}